<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by 动脑科技-Tim on 17-6-21 下午7:58
  ~ Copyright (c) 2017. All rights reserved
  ~
  ~ Last modified 17-6-21 下午7:57
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dn.tim.timcompiler">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>